<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BitCoin</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div style="margin-top: 10px">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="main.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="transaction.html">Transaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="login.html">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="signup.html">Sign up</a>
        </li>
      </ul>
    </div>
    <hr />
    <div align="center" style="font-size:40px;font-weight:bold">Sign Up</div>
    <div
      style="margin:60px auto;width: 500px;border: 1px solid gray;border-radius: 5px;padding: 30px;"
    >
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputFirst"
            aria-describedby="emailHelp"
            placeholder="Enter first name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputLast"
            aria-describedby="emailHelp"
            placeholder="Enter last name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">User Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputUser"
            aria-describedby="emailHelp"
            placeholder="Enter user name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </body>
</html>
