<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BitCoin</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div style="margin-top: 10px;margin-bottom: 10px">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="main.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="transaction.html">Transaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="login.html">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="signup.html">Sign up</a>
        </li>
      </ul>
    </div>
    <hr />
    <div class="container" style="margin-bottom:100px">
      <div style="font-size:40px;font-weight:bold">Transaction</div>
      <div
        style="width:600;margin: auto;border: 1px solid gainsboro;border-radius: 5px;padding: 20px"
      >
        <p style="font-weight:bold">Current Exchange Price</p>
        <div
          style="width:100%;min-height:100px;border: 1px solid gainsboro;border-radius: 5px;padding: 15px"
        >
       <font size="18px" color="red"><strong>3412.79 USD</strong></font>
        </div>
        <br />
        <div style="width:400px;">
          <div style="float: left; width: 140px"> 
              <form id="thisone" action="post_nrs_users.asp" method="post">
                  <input type="button" value="BUY" style="color:#FF0000;background-color:#00FF00;" >
              </form>
          </div>
          <div style="float: right; width: 225px"> 
              <form id="thistoo" action="post_nrs_users.asp" method="post">
                  <input type="button" value="SELL" style="color:#FF0000;background-color:#00FF00;" >
              </form>
          </div>
        <br />
        <div class="input-group mb-3" style="width:200px">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Quantity</span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <br />
        <div class="input-group mb-3" style="width:200px">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Total Price</span
            >
          </div>
          <span
            type="text"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          >
          </span>
        </div>
        <br />
        <button type="button" class="btn btn-primary">Process</button>
      </div>
    </div>
  </body>
</html>
